.app{
  background:#fafafa;
  height:100vh;
}
.app__header{
  background:white;
  padding:10px;
  border-bottom:1px solid lightgray;
  box-shadow:3px 2px 4px -2px rgba(0,0,0,0.32);
  display:flex;
  align-items: center;
  justify-content: space-between;
  top:0;
  position:sticky;
  width:100%;
  z-index:100;
}
.app__image{
  height:70px;
  cursor:pointer;
  object-fit:contain;
}
.app__form{
  display:flex;
  flex-direction:column;
}
.app__form>input{
  border:none;
  outline:none;
  cursor:pointer;
  padding:10px;
  width:100%;
  border-bottom:1px solid blue;
}