.imageupload{
    height:15vh;
    background:#fafafa;
    border-top:1px solid lightgray;
    display:flex;
    flex-direction: column;
    box-shadow: 2px 4px 6px -2px rgba(0,0,0,0.34);
    margin:auto;
}
.imageupload>progress{
    width: 80%;
    padding:3px;
    margin:2px;
}
.imageupload>input{
    padding:3px;
    border:none;
    outline:none;
    padding:5px;
}